{% extends 'starter-page.html' %}
{% load static %}

{% block body %}

    <table class="table mt-5 container">
    <tr>
        <th>NAME</th>
        <th>EMAIL</th>
        <th>SUBJECT</th>
        <th>MESSAGE</th>
        <th>ACTION</th>
    </tr>

    {% for x in allcontact %}
        
        <tr>
            <td>{{ x.fullname }}</td>
            <td>{{ x.email }}</td>
            <td>{{ x.subject }}</td>
            <td>{{ x.message }}</td>
            <td>
                <a href="" class="btn btn-outline-danger">edit</a>
                <a href="/delcontact/{{ x.id }}" class="btn btn-danger">delete</a>

            </td>
        </tr>

    {% endfor %}


    </table>

{% endblock %}